:root {
--brand-color: #84CC16;
--dark-color: #27272A;
--mid-color: #52525B;
--light-color: #F5F5F5;
  }

*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
background-color: var(--light-color);
color: var(--dark-color)
}


h2{ 
  
font-family: "mephisriver", sans-serif;  
color: var(--mid-color);
}

p{
font-family :arial-black;
color: var(--brand-color);
}
